table {
  width: 100%;
}

.accepted {
  background-color: green !important;
  color: #fff !important;
}

.rejected {
  background-color: red !important;
  color: #fff!important;
}

.in-progress {
  background-color: darkorange !important;
  color: #fff !important;
}

.assigned {
  background-color: rgba(78, 74, 74, 0.712) !important;
  color: #fff !important;
}

.mat-form-field {
  margin: 1.5em;
  font-size: 16px;
  width: 95%;
}

.full-width {
  width: 90%;
  font-size: 16px;
  margin: 1.5em;
}

.mat-select-custom {
  width: 110px;
}
